h1{
  color: #DDDDDD;
  font-size: calc(14px + 2vmin);
  margin-bottom: 0;
}

p{
  color: #C9C7CE;
}

div{
  text-align: center;
  background-color: #2C3535;
  font-family: "Roboto";
}

.App{
  height: 100%;
}

.App-header {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 10;
  padding: 0;
  width: 100%;
}

.description{
margin: 0;
}

.MainBody{
  /*height: 76%;*/
}

.App-bottom{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 70px;
  width: 100%;
  z-index: 9;
}

.Dots{
  color: blue;
  vertical-align: middle;
  text-align: center;
  line-height: 70px;
}

{/*Bars - "child"*/}
.WrapperActivity{
  height: 65px;
  width: 80%;
  margin: auto;
  border-style: solid;
  border-color: #C9C7CE;
  border-width: 1px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 25px;
  /*background-color: #1D2A2A; */
  background-color: #262e2e;
}

.ActivityName{
  text-align: left;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
}

.ActivityPercentage{
  float:left;
  margin-top: 2px;
  font-size: 15px;
}

.ActivityMoreDetails{
  float:right;
  margin-top: 2px;
  font-size: 15px;
  font-style: italic;
}

.ActivityDetails{
  font-size: 12px;
}

.ActivityBar{
  width: 100%;
  height: 12px;
  margin-top: 25px;
  border-radius: 30px;
}

.ActivityProgress{
  height: 12px;
  margin-top: -12px;
  border-radius: 30px;
}

{/*Menu*/}
.MenuButton{
  position: -webkit-sticky;
  position: sticky;
  background-color: #609096;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border-width: 2px;
  position: fixed;
  bottom: 7%;
  right: 13%;
  border-style: solid;
  border-color: #C9C7CE; 
  color: #C9C7CE;
  z-index: 120;
}

.MenuIcon{
  margin-top: 22px;
  margin-left: 3px;
  width: 0;
}

.menu{
  margin-top: 10.5px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: #C9C7CE;
  position: relative;
  height: 2px;
  width: 45px;
  object-position: center;
}


.menuClass{
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  background-color: transparent;

}

.menuID{
  background-color: black;
  opacity: 90%;
  height: 100%;
  position: fixed;
  z-index: 101;
  margin: auto;
  overflow: hidden;
}

.buttonWrapper{
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 111;
  top: 0;
}

.reportButton{
  background-color: #e3871b;
  opacity: 100%;
  height: 50px;
  position: absolute;
  top: 40%;
  border-radius: 35px;
  left: 50%;
  margin-left: -100px;
  z-index: 120;
}

.addButton{
  background-color: #84b424;
  opacity: 100%;
  height: 50px;
  position: absolute;
  top: 52%;
  border-radius: 35px;
  left: 50%;
  margin-left: -100px;
  z-index: 120;
}

.deleteButton{
  background-color: #e02266;
  height: 50px;
  position: absolute;
  top: 64%;
  border-radius: 35px;
  left: 50%;
  margin-left: -100px;
  z-index: 120;
}

.buttonText{
  color: black;
  font-size: 20px;
  margin-top: 12px;
}

{/*Question Button*/}
.QuestionButton{
  position: -webkit-sticky;
  position: sticky;
  background-color: #609096;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border-width: 2px;
  position: fixed;
  top: 3%;
  right: 5%;
  border-style: solid;
  border-color: #C9C7CE; 
  color: #C9C7CE;
  z-index: 130;
}

.question{
  margin-top: 3px;
  font-size: 30px;
}

.closeQuestion{
  margin-top: -68px;
  margin-left: 13px;
  font-size: 30px;
  position: fixed;
}

.questionWrapper{
height: 100%;
}

.questionID{
  height: inherit;
  top: 0;
  position: absolute;
  z-index: 129;
  overflow: scroll;
}

.questionText{
  width: 80%;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #C9C7CE;
  border-width: 1px;
  text-align: left;
  padding: 5px 10px 5px 10px;
  background-color: #262e2e;
}

.title{
  margin-top: 30px;
}

.helpTitle{
  color: #DDDDDD;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 5%;
}

.helpText{
  padding-left: 5%;
  padding-top: 0;
  line-height: 160%;
  font-size: 16px;
  margin-top: -16px;
}

/*Add Activity sidan*/
#Add{
  height: 100vh;
}

#addActivityBody{

}

.WrapperAddActivity{
  border-style: solid;
  border-color: #C9C7CE;
  border-width: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #262e2e;
  /*padding-left: 5%;
  padding-right: 5%;*/
}

.WrapperNameDates{
  background-color: blue;
}

.WrapperAddTime{
  background-color: red;
}

input{
  height: 30px;
}

.textBox{
  width: 80%;
}

.dateBox{
  float: left;
  width: 90px;
}

.TimeBox{
  width: 50px;
  float: left;
}

.WrapperDateText{
  display: inline-block;
  width: 100%;
}

.WrapperDate{
  display: inline-block;
  width: 80%;
  margin: auto;
}

.WrapperStartDate{
  background-color: blue;
  width: 40%;
  float: left;
  }

.WrapperEndDate{
  background-color: green;
  width: 40%;
  float: right;
}

.addActivityText{
  margin-bottom: 0;
  float: left;
}

#activityName{
  padding-left: 10%;
}

#activityNameInput{
  float: left;
  width: 100%;
}

.saveButton{
  height: 40px;
  width: 100px;
  border-radius: 35px;
  background-color: #84b424;
  border-color: transparent;
}

#saveButtonText{
  margin-top: 7px;
}