h1{
  color: #DDDDDD;
  font-size: calc(14px + 2vmin);
  margin-bottom: 0;
  text-align: center;
  margin: 0;
}

p{
  color: #C9C7CE;
}

html{
  background-color: #2C3535;
}

div{
  text-align: center;
  font-family: "Roboto";
}

button{
  border-color: transparent;
  margin-bottom: 20px;
  height: 40px;
  width: 100px;
  border-radius: 35px;
  vertical-align: middle;
}

input{
  height: 40px;
  border: none;
  text-indent: 10px;
  font-size: 20px;
  font-family: "Roboto";
  background-color: #4C5454;
  color: #C9C7CE;
}

input:focus {
  background-color: #C9C7CE;
  color: black;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder{
  color: #262e2e;
} 

.App{
  height: 100%;
  background-color: #2C3535;
}

#bars{
  height: 100%;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 10;
  padding: 0;
  width: 100%;
  background-color: #2C3535;
}

.title{
  margin-top: 30px;
}

.description{
margin: 0;
}

#headerBars{
display: inline-block;
}

.MainBody{
}

.App-bottom{
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  z-index: 9;
   background-color: #2C3535;
}

.Dots{
  color: blue;
  vertical-align: middle;
  text-align: center;
  line-height: 70px;
}

/*Bars - "child"*/
.WrapperActivity{
  height: 65px;
  width: 80%;
  margin: auto;
  border-style: solid;
  border-color: #C9C7CE;
  border-width: 1px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 25px;
  background-color: #262e2e;
}

.ActivityName{
  text-align: left;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
}

.ActivityPercentage{
  float:left;
  margin-top: 2px;
  font-size: 15px;
}

.ActivityMoreDetails{
  float:right;
  margin-top: 2px;
  font-size: 15px;
  font-style: italic;
}

.ActivityDetails{
  font-size: 12px;
}

.ActivityBar{
  width: 100%;
  height: 12px;
  margin-top: 25px;
  border-radius: 30px;
}

.ActivityProgress{
  height: 12px;
  margin-top: -12px;
  border-radius: 30px;
}

/*Menu*/
.MenuButton{
  position: -webkit-sticky;
  position: sticky;
  background-color: #609096;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border-width: 2px;
  position: fixed;
  bottom: 7%;
  right: 13%;
  border-style: solid;
  border-color: #C9C7CE; 
  color: #C9C7CE;
  z-index: 120;
}

.MenuIcon{
  margin-top: 22px;
  margin-left: 3px;
  width: 0;
}

.menu{
  margin-top: 10.5px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: #C9C7CE;
  position: relative;
  height: 2px;
  width: 45px;
  object-position: center;
}


.menuClass{
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  background-color: transparent;

}

.menuID{
  background-color: black;
  opacity: 90%;
  height: 100%;
  position: fixed;
  z-index: 101;
  margin: auto;
  overflow: hidden;
}

.buttonWrapper{
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 111;
  top: 0;
}

.reportButton{
  background-color: #e3871b;
  opacity: 100%;
  height: 50px;
  position: absolute;
  top: 40%;
  border-radius: 35px;
  left: 50%;
  margin-left: -100px;
  z-index: 120;
}

.addButton{
  background-color: #84b424;
  opacity: 100%;
  height: 50px;
  position: absolute;
  top: 52%;
  border-radius: 35px;
  left: 50%;
  margin-left: -100px;
  z-index: 120;
}

.deleteButton{
  background-color: #e02266;
  height: 50px;
  position: absolute;
  top: 64%;
  border-radius: 35px;
  left: 50%;
  margin-left: -100px;
  z-index: 120;
}

.buttonText{
  color: black;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

/*Question Button*/
.QuestionButton{
  position: -webkit-sticky;
  position: sticky;
  background-color: #609096;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border-width: 2px;
  position: fixed;
  top: 3%;
  right: 5%;
  border-style: solid;
  border-color: #C9C7CE; 
  color: #C9C7CE;
  z-index: 130;
}

.question{
  margin-top: 3px;
  font-size: 30px;
}

.closeQuestion{
  margin-top: -68px;
  margin-left: 13px;
  font-size: 30px;
  position: fixed;
}

/*Help page*/
.questionWrapper{
height: 100%;

}

#helpHeader{
  background-color: #2C3535;
}

.questionID{
  height: inherit;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 129;
  overflow: scroll;
  background-color: #2C3535;
}

.questionText{
  width: 80%;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-style: solid;
  border-color: #C9C7CE;
  border-width: 1px;
  text-align: left;
  padding: 5px 10px 5px 10px;
  background-color: #262e2e;
}


.helpTitle{
  color: #DDDDDD;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 5%;
}

.helpText{
  padding-left: 5%;
  padding-top: 0;
  line-height: 160%;
  font-size: 16px;
  margin-top: -16px;
}

/*Add Activity sidan*/
#Add{
  height: 100vh;
}

.WrapperAddActivity{
  border-style: solid;
  border-color: #C9C7CE;
  border-width: 1px;
  width: 80%;
  justify-content: center;
  margin: auto;
}

/*Activity name*/
.WrapperAddName{
  background-color: inherit;
  width: 80%;
  margin: auto;
}

.addActivityText{
  margin-bottom: 0;
  float: left;
  font-size: 18px;
}

.textBox{
  width: 100%;
  text-transform: capitalize;
}

/*Start and End dates*/
.WrapperDate{
  display: inline-block;
  width: 80%;
  margin: auto;
  background-color: inherit;
  margin-top: 10px;
}

.WrapperStartDate{
  width: 100px;
  float: left;
  }

.WrapperEndDate{
  width: 100px;
  float: right;
}

.dateBox{
  float: left;
  width: 100px;
}

/*Set time*/
.WrapperAddTime{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.addActivityTime{
  float: left;
  margin: 0;
  width: 80px;
  text-align: left;
  font-size: 18px;
}

.timeBox{
  width: 45px;
  float: right;
  margin: 0;
  text-align: justify;
}

.time{
  width: 70%;
  display: flex; 
  justify-content: flex-end;
  vertical-align: middle;
  align-items: center;
}

#min{
  text-indent: 5px;
}

#min:focus{
  text-indent: 10px;
}

.timeIndicator{
  width: 25px;
  margin: 0;
  font-size: 18px;
}

/*Buttons in "Add Activity"*/
.addActivityButton{
  width: 80%;
  height: 40px;
  padding: 30px 0;
  margin: auto;
}

.saveButton{
  background-color: #84b424;
  float: right;
}

.cancelButton{
  background-color: #f92672;
  float: left;
}



